window {
    background-color: #484848;
}

separator {
    background-color: white;
    margin-top:       10px;
    margin-bottom:    10px;
}

#w_main frame {
    background-color: #00A010;
    margin:           5px;
    padding:          10px;
    border-radius:   10px;
}

frame button > label {
    background-color: #2020b0;
    color:            #F8F8F8;
    padding-left:     8px;
    padding-right:    8px;
    padding-top:      3px;
    padding-bottom:   3px;
    border-radius:    5px;
}

frame button {
    background-color:    #00ff00;
    border-left-width:   10px;
    border-right-width:  10px;
    border-top-width:    4px;
    border-bottom-width: 4px;
    border-color:        #c0c0f8;
    padding:             0px;
}

menubar {
    background-color: #C8C8C8;
}

frame > label {
    /*color:            white;*/
    background-color: #D0D0D0;
    border-radius:    10px;
    padding-left:     4px;
    padding-right:    4px;
    padding-top:      2px;
    padding-bottom:   2px;
}
